{% extends 'base.html.twig' %}
{% block head%}
<head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'><link rel="stylesheet" href="./style.css">
<title>Login</title>

</head>
{% endblock %}
{% block body %}
    <div class="container">
	<div class="screen">
		<div class="screen__content">
			
            
                    <form name="login_form" method="post" class="login">
                     <div class="login__field">
					<i class="login__icon fas fa-user"></i>
                       <input type="text" id="login_form_Login" name="Login" required="required" maxlength="255" class="login__input">
                        </div>
                        <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
                        <input type="password" id="login_form_Password" name="password" required="required" class="login__input">
                        </div>
                        
                        
                       <button class="button login__submit">
					<span class="button__text">LOG IN</span>
					
				</button>				
			
                    
                    </form>
                    </div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
{% endblock %}
