<!DOCTYPE html>
<html>
{% block head%}
        
{% endblock %}
       
        {% block stylesheets %}
           
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
